{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "object-curly-spacing": "off",
    "no-warning-comments": "off",
    "comma-dangle": "off",
    "quotes": "off",
    "radix": "off",
    "semi": "off",
    "max-params": "off",
    "indent": "off",
    "arrow-parens": "off"
  }
}
