.box {
  border: 2px solid #1e293b;
  box-shadow: 1px 1px #1e293b;
  background-color: white;
  display: inline-block;
  padding: 3px 5px;
  white-space: nowrap;
}

.key-icon {
  border: 2px solid rgb(107 114 128);
  box-shadow: 2px 2px rgb(107 114 128);
  background-color: white;
  font-size: .85em;
  line-height: .85em;
  display: inline-block;
  font-weight: 600;
  letter-spacing: .05em;
  padding: 3px 5px;
  white-space: nowrap;
}
